@import url('https://fonts.googleapis.com/css?family=Vollkorn|BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Muli|Molengo|Roboto');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Taviraj');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
* {
    padding: 0;
    margin: 0;
}

.fcucbanner {
    width: 100%;
    display: flex;
    background: #f2f5f6;
    background: -moz-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: radial-gradient(ellipse at center, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=1);
}

.fcucbannerlogo {
    height: 128px;
    width: 120px;
}

#fcuccrest {
    flex: 1;
    text-align: center;
    padding: 10px;
}

#fcuclogo {
    width: 256px;
    text-align: center;
    padding: 10px;
}

#fcucname {
    text-align: center;
    flex: 1;
    flex-grow: 7;
    font-family: "Libre BaskerVille";
    font-size: 25px;
    font-weight: lighter;
    padding: 10px;
    color: #cc0000;
    color: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%);
    color: -webkit-linear-gradient(top, #cc0000 0%, #cc0000 100%);
    color: linear-gradient(to bottom, #cc0000 0%, #cc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0);
}

.scrollBar {
    width: 100%;
}

#navigation {
    display: flex;
    width: 100%;
    text-align: center;
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
    height: 60px;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
    font-size: 18.5px;
    font-weight: bolder;
}

.aboutbtn {
    background-color: Transparent;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 18.5px;
    font-weight: bolder;
}

.about-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.about-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-family: "BioRhyme";
    font-size: 16px;
}

.aboutshow {
    display: block;
}

.servicesbtn {
    color: white;
    border: none;
    cursor: pointer;
    background-color: Transparent;
    outline: none;
    font-family: Calibri;
    font-size: 18.5px;
    font-weight: bolder;
}

.services-content {
    display: none;
    position: absolute;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.services-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-family: "BioRhyme";
    font-size: 16px;
}

.servicesshow {
    display: block;
    transition-delay: 0s;
}

.home {
    flex: 1;
}

.home:hover {
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.about {
    flex: 1;
}

.about::after {
    color: white;
    content: " \25BE";
}

.about:hover {
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.services {
    flex: 1;
}

.services:hover {
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.services::after {
    color: white;
    content: " \25BE";
}

.facilities {
    flex: 1;
}

.facilities:hover {
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.login {
    flex: 1;
    border-left: 1px solid black;
}

#loginButton {
    display: inline-block;
    background: #d2e0ea;
    border: 1px solid #899caa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    z-index: 30;
    cursor: pointer;
    flex: 1;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


/* Login Button Text */

#loginButton span {
    color: #445058;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 1px 1px #fff;
    padding: 7px 18px 9px 18px;
    display: block;
}


/* Login Box */

#loginBox {
    position: absolute;
    right: 0;
    display: none;
    z-index: 29;
}


/* If the Login Button has been clicked */

#loginButton.active {
    border-radius: 3px 3px 0 0;
}

#loginButton.active span {
    background-position: 53px -76px;
}


/* A Line added to overlap the border */

#loginButton.active em {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d2e0ea;
    bottom: -1px;
}


/* Login Form */

#loginForm {
    width: 230px;
    border: 1px solid #899caa;
    border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    margin-top: -1px;
    background: #d2e0ea;
    padding: 6px;
}

#loginForm fieldset {
    margin: 0 0 12px 0;
    display: block;
    border: 0;
    padding: 0;
}

fieldset#body {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 13px;
    margin: 0;
}

#loginForm #checkbox {
    width: auto;
    margin: 1px 9px 0 0;
    float: left;
    padding: 0;
    border: 0;
    *margin: -3px 9px 0 0;
    /* IE7 Fix */
}

#body label {
    color: #3a454d;
    margin: 9px 0 0 0;
    display: block;
    float: left;
}

#loginForm #body fieldset label {
    display: block;
    float: none;
    margin: 0 0 6px 0;
}


/* Default Input */

#loginForm input {
    width: 92%;
    border: 1px solid #899caa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: #3a454d;
    font-weight: bold;
    padding: 8px 8px;
    box-shadow: inset 0px 1px 3px #bbb;
    -webkit-box-shadow: inset 0px 1px 3px #bbb;
    -moz-box-shadow: inset 0px 1px 3px #bbb;
    font-size: 12px;
}


/* Sign In Button */

#loginForm #login {
    width: auto;
    float: left;
    background: #339cdf url(../images/loginbuttonbg.png) repeat-x;
    color: #fff;
    padding: 7px 10px 8px 10px;
    text-shadow: 0px -1px #278db8;
    border: 1px solid #339cdf;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    *padding: 7px 2px 8px 2px;
    /* IE7 Fix */
}


/* Forgot your password */

#loginForm span {
    text-align: center;
    display: block;
    padding: 7px 0 4px 0;
}

#loginForm span a {
    color: #3a454d;
    text-shadow: 1px 1px #fff;
    font-size: 12px;
}

input:focus {
    outline: none;
}

.news {
    flex: 1;
}

.news:hover {
    background: #ffa84c;
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}

.item {
    flex: 1;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.content_container {
    width: 100%;
    z-index: -1;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.content {
    display: flex;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 50;
}

.content_questions {
    border-top: 1px solid #464240;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
}

.content_questions p {
    color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.askalibrarian {
    color: white;
}

.content1 {
    background-color: rgba(40, 36, 34, 0.96);
    flex: 1;
    height: 300px;
    text-align: left;
    padding: 10px;
    margin-right: 1%;
}

#content_title {
    color: #699785;
    font-weight: bold;
    font-size: 1.2em;
}

#gettingstarted li {
    display: block;
    list-style: none;
    margin: 15px 0 15px 0;
}

#gettingstarted li a::after {
    content: "\003e";
}

#gettingstarted li a {
    color: white;
    font-size: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#gethelp li {
    list-style: none;
    margin: 15px 0 15px 0;
}

#gethelp li a {
    color: white;
    font-size: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.content2 {
    background-color: rgba(40, 36, 34, 0.96);
    flex: 1;
    height: 300px;
    margin-right: 1%;
    padding: 10;
    text-align: left;
}

#content2_title {
    color: #8b85bb;
    font-weight: bold;
    font-size: 1.2em;
}

.content3 {
    height: 300px;
    flex: 1;
    background-color: rgba(40, 36, 34, 0.96);
    padding: 10;
    margin-right: 0.2%;
}

.video_container {
    text-align: center;
}

#content3_title {
    color: #e85f50;
    font-weight: bold;
    font-size: 1.2em;
}

.extracontent_container {
    text-align: center;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    background: #f2f5f6;
    background: -moz-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: radial-gradient(ellipse at center, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=1);
}

.extracontent_container h1 {
    font-family: "Alegreya";
    font-size: 45px;
}

#slideshow {
    margin: 0px auto;
    width: 42%;
    height: 340px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
    position: absolute;
}

.footer_container {
    width: 100%;
    background: #ff3019;
    text-align: center;
}

.footer_logo {
    text-align: center;
    padding-bottom: 30px;
}

.footer_logo p {
    font-size: 25px;
    color: white;
}

.footer_address {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-bottom: 70px;
}

.footer_address p {
    font-size: 25px;
    color: white;
}

.social_media div {
    background: #ff3019;
    text-align: center;
    width: 100%;
}

#facebook {
    float: left;
    margin: 0 auto;
    width: 33.5%;
    text-align: right;
}

#facebook a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#twitter {
    float: left;
    width: 33.5%;
    margin: 0 auto;
    text-align: center;
}

#twitter a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#gmail {
    float: left;
    width: 33%;
    margin: 0 auto;
    text-align: left;
}

#gmail a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.about_content_wrapper {
    width: 100%;
    z-index: -1;
    background: url(images/aboutBG.jpg) no-repeat center center fixed;
    background-size: cover;
}

.about_content_container {
    //    display: flex;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 50;
}

.about_content {
    background: #f2f5f6;
    background: -moz-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: radial-gradient(ellipse at center, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=1);
    padding: 50px;
}

#opening_hours {
    margin: 20px;
}

#opening_hours h1{
    font-family: "Tavirag";
    font-style: italic;
    font-size: 35px;
}

#opening_hours h2{
    margin-bottom: 10px;
    font-family: "Muli";
    font-size: 22px;
}

#opening_hours p{
    font-family: "Roboto";
    font-size: 17px;
}

#rules {
    margin: 50px 20px 20px 20px;
}

#rules h1{
  font-family: "Tavirag";
  font-style: italic;
  font-size: 35px;
}

#rules ul {
    margin-top: 20px;
    margin-bottom: 50px;
}

#rules p{
  font-family: "Roboto";
  font-size: 17px;
  margin: 30px 0 0 0;
}

#rules ul li{
  font-family: "Roboto";
  font-size: 17px;
}

.contact_us {
    margin: 20px;
}

.contact_us div {
    //  margin: 0px auto;
    width: 50%;
    //height: 340px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.contact_us h1{
  font-family: "Tavirag";
  font-style: italic;
  font-size: 35px;
  margin: 0 0 30px 0 ;
}

.contact_us p{
  font-family: "Roboto";
  font-size: 17px;
  margin: 10px 0 0 0;
}

.faq {
    margin: 20px;
}

.faq h1{
  font-family: "Tavirag";
  font-style: italic;
  font-size: 35px;
  margin: 0 0 30px 0 ;
}

.faq p{
  font-family: "Roboto";
  font-size: 17px;
  margin: 10px 0 0 0;
}

/*
.images {
    background: url(images/librarybackground3.jpe) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.images img {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 135px;
    padding-left: 30px;
    list-style: none;
    display: inline;
    white-space: nowrap;
}
.images h1 {
    text-align: center;
}
.books_img {
    background-size: cover;
    margin: 0 0 0 15;
    display: inline-block;
}
.Library_button {
    z-index: 999;
    display: inline-block;
    margin: 0;
    width: 110px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    color: black;
}
.Library_button:hover {
    background: pink;
}
.button_option {
    width: auto;
    height: auto;
}
.caption {
    margin-left: 60px;
}
.Helpcontent_container {
    text-align: center;
    //width: 100%;
    //border: 1px solid black;
    //z-index: -1;
    background: url(images/librarybackground2.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 10px;
    padding: 0;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
=======
    #facebook {
        float: left;
        margin: 0 auto;
        width: 33.5%;
        text-align: right;
    }
    #twitter {
        float: left;
        width: 33.5%;
        margin: 0 auto;
        text-align: center;
    }
    #gmail {
        float: left;
        width: 33%;
        margin: 0 auto;
        text-align: left;
    }

    .images {
        background: url(images/librarybackground3.jpe) no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    .images img {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 135px;
        padding-left: 30px;
        list-style: none;
        display: inline;
        white-space: nowrap;
    }
    .images h1 {
        text-align: center;
    }
    .books_img {
        background-size: cover;
        margin: 0 0 0 15;
        display: inline-block;
    }
    .Library_button {
        z-index: 999;
        display: inline-block;
        margin: 0;
        width: 110px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
        color: black;
    }
    .Library_button:hover {
        background: pink;
    }
    .button_option {
        width: auto;
        height: auto;
    }
    .caption {
        margin-left: 60px;
    }
    .Helpcontent_container {
        text-align: center;
        //width: 100%;
        //border: 1px solid black;
        //z-index: -1;
        background: url(images/librarybackground2.jpg) no-repeat center center fixed;
        background-size: cover;
        margin-top: 10px;
        padding: 0;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
>>>>>>> refs/remotes/origin/master
    }
    .popup {
        width: 70%;
    }
<<<<<<< HEAD
    >>>>>>>5fdb608dbaed4fe4e25dd91b9750957fdb339b3e
}
*/

=======>>>>>>>refs/remotes/origin/master
